<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

    <h1>Details of the Short URL</h1>
    ShortURL: <%= shortURL %> <br>
    LongURL: <%= longURL %>

</body>
</html>
