<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>


<body>
    <h1>Table of URLs</h1>
    <table border = "1">
      <tr>
        <td>Short Url</td>
        <td>Long URL</td>
      </tr>
      <% for (var shortURL in urls) { %>
      <tr>
        <td><%= shortURL %></td>
        <td><%= urls[shortURL] %></td>
      </tr>
      <% } %>

    </table>
    <h1>Shortening Link</h1>
    <link rel="stylesheet" type="text/css" href="">
    <%= JSON.stringify(urls) %>
    <% for (var shortURL in urls){ %>
      <%= shortURL %>
    <% } %>
</body>
</html>
